:root {
    --background-color: #FFFFFF;
    --primary-text-color: #667085;
    --secondary-text-color: #3A404E;
    --primary-color: #8E2424;
    --on-primary-color: #3A404E;
    --primary-container: #8E2424;
    --on-primary-container: #FFFFFF;
    --secondary-color: #8E2424;
    --on-secondary-color: #3A404E;
    --secondary-container: #8E2424;
    --on-secondary-container: #8E2424;

}

header {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    width: 100%;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin: 18px 80px 18px 80px;
    padding: 0 32px 0 32px;
}

.logo__optimus__tech{
    margin: 8.5px 0 8.5px 0;
}

.navigation__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    margin: 6px 0 6px 0;
}

.navigation__item {
    text-decoration: none;
    color: var(--primary-text-color);
}

.empty__item {
    width: 142px;
    height: 32px;
}

.navigation__actions {
    display: flex;
    gap: 12px;
}

.primary__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    border: transparent;
    text-decoration: none;
    border-radius: 8px;
    height: 44px;
    padding: 10px 18px 10px 18px;
}

.tertiary__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    border-radius: 8px;
    height: 44px;
    padding: 10px 18px 10px 18px;
}